$font-reg: 'Titillium Web', sans-serif;
$violet: #87509c;
$turquoise: #17c2a4;
$blue: #30bae7;
$light-blue: #e7f1f8;
$sandy-brown: #87509c;
$purple: #d74680;
$dark-blue: #3c5499;
$coral: #eb7d4b;
